.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color:#FBFBF8;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 10px;
    
  }
  .header__searchInput {
    height: 12px;
    padding: 10px;
    border-radius: 35px;
    width: 50%;
    border-radius: 5x;
   
  }
  .header__optionLineOne {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .header__nav {
    display: flex;
    justify-content: space-evenly;
   
  }
  
  .header__option {
    
    margin-left: 10px;
    margin-right: 10px;
    color:black;
  }
  .login{
    color:#2896A9;
    padding:15px;
    margin-right: 10px;
    opacity: 1;
    transition: 0.3s;
    }
    .login:hover {opacity: 0.6}
  .signup{
      background-color:#0F7C90;
      color:white;
      padding: 15px;
      margin-right: 10px;
      opacity: 1;
  transition: 0.3s;
     }
     .signup:hover {opacity: 0.6}
    